body {
  color: #fff;
  font-family: Roboto;
  background-color: #2b1c3d;
}

a {
  color: #ff0088;
  text-decoration: none;
}

h1 {
  text-indent: -999em;
  width: 509px;
  height: 58px;
  background-image: url(logo@2x.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 auto;
}

#container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-top: 180px;
}

#container .description {
  margin-top: 80px;
  font-weight: 100;
  font-size: 32px;
  line-height: 42px;
}

#container .description .email {
  font-weight: 300;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding-bottom: 30px;
}

#footer .copyright {
  font-weight: 300;
  font-size: 16px;
}

@media only screen and (max-width: 600px) {
  #container {
    margin-top: 120px;
  }

  h1 {
    width: 306px;
    height: 35px;
  }

  #container .description {
    margin-top: 50px;
    font-size: 18px;
    line-height: 28px;
  }

  #footer .copyright {
    font-size: 12px;
  }
}
